body {
    overflow-x: hidden;
}

h1 {
    font-size: 37px;
    text-align: center;
    margin-top: 50px;
}

.team {
    margin: 20px;
    font-size: 18px;
    color: #707070;
    text-align: center;
    font-family: 'Century Gothic', sans-serif;
}

main > section {
    text-align: center;
    margin: auto;
}

section > h2 {
    margin: 50px auto 40px auto;
}

.line {
    border-bottom: solid 1px #3993FA;
    width: 85%;
    margin: 20px auto 50px auto;
}

.promotional_videos {
    margin-bottom: 70px;
}

.short_videos video:last-child {
    margin-bottom: 50px;
}

.product_photography ul {
    list-style-type: none;
    margin-bottom: 60px;
}

.promotional_videos,
.cinemagraphs,
.logo_animations, .short_videos {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
    justify-items: center;
}

.short_videos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

.promotional_videos h2,
.cinemagraphs h2,
.logo_animations h2, .short_videos h2 {
    grid-column: 1 / -1;
    grid-row: 1;
}

.promotional_videos h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: start;
    color: #707070;
}

.cinemagraphs,
.promotional_videos,
.logo_animations, .short_videos {
    justify-content: center;
}

.short_videos video {
    height: 480px;
}

iframe {
    filter: drop-shadow(5px 5px #3993fa);
    width: 480px;
    height: 270px;
}

.explainer_wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.explainer,
.cinemagraphs > video,
.logo_animations > video{
    width: 500px;
    display: block;
    margin: 0 auto 50px auto;
     filter: drop-shadow(5px 5px #3993fa);
}

.short_videos > video {
    filter: drop-shadow(5px 5px #9cffcf);
}

.explainer {
    cursor: pointer;
}


.logo_animations > video {
    filter: drop-shadow(5px 5px #9cffcf);
}

.logo_animations {
    margin-bottom: 100px;
}

@media screen and (max-width: 1350px) {
     iframe {
        margin-bottom: 40px;
    }

    .short_videos {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 690px) {

    iframe {
        width: 100%;
        height: auto;
    }

    .cinemagraphs > video,
    .logo_animations > video {
        width: 50%;
    }

    .explainer {
        width: 80%;
    }
}
@media screen and (max-width: 380px) {

    h1 {
        width: 230px;
        font-size: 22px;
        text-align: center;
        margin: 50px auto 0;
    }

    .promotional_videos h3 {
        font-size: 14px;
    }

    .promotional_videos {
        width: 250px;
    }

    iframe,
    .cinemagraphs > video,
    .logo_animations > video,
    section h2 {
        width: 230px;
    }

    .short_videos > video {
        height: 280px;
    }

    section h2 {
        font-size: 18px;
    }
}
