main {
    margin: 50px 10vmin 80px;
    column-count: 2;
    column-gap: 60px;
    padding-top: 50px;
}

.gallery {
    position: relative;
}
.gallery img {
    width: 100%;
    height: auto;
    margin-bottom: 55px;
}

.frame {
    filter: drop-shadow(15px 15px #9cffcf);
}

@media screen and (max-width: 690px){
    main{
        column-count: 1;
    }
}
