main {
    margin: 0 20vmin;
    column-count: 3;
    column-gap: 60px;
    padding-top: 50px;
    margin-bottom: 50px;
}
.gallery {
    position: relative;
}
.gallery img {
    width: 100%;
    height: auto;
    margin-bottom: 55px;
}
