#preload {
    z-index: 10001;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: preloadFadeOut 1s ease 2s;
}

@keyframes preloadFadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#bg_video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    z-index: -100;
}

.intro_wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.70);
    padding: 30px;
    width: 600px;

    border: 1px solid #000000;
    box-shadow: 0 5px 30px 0 rgba(90, 116, 148, 0.4);

    animation: bounce 1.5s infinite;
}

.intro_wrapper::before {
    z-index: -2;
    content: '';
    border: 0.5px solid #000000;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
}

@keyframes bounce {
    50% {
        transform: translate(-50%, -42%);
    }
}

.intro_title {
    text-align: center;
    width: 80%;
    line-height: 30px;
    color: #3993FA;
}

.white_waves,
.sea_front {
    width: 100%;
    height: 700px;
    background-size: cover;
    position: fixed;
    margin: 10px 0 0 0;
    top: 0;
    z-index: -10;
}

.white_waves {
    background-image: url(../images/home-sea/white_waves-01.svg);
    height: 929px;
}

.sea_front {
    background-image: url(../images/home-sea/sea_front-01.svg);
    height: 929px;
}

.sea_wave {
    width: 100%;
    height: 700px;
    background-size: cover;
    margin: -20px 0 0 0;
    background-image: url(../images/home-sea/sea_wave-01.svg);
}

.under_sea {
    background-color: #3993FA;
    width: 100%;
    padding: 50px 0;
    margin-top: -20px;
}

.under_sea h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.under_sea h2 {
    color: #fff;
}

.under_sea p {
    color: #fff;
}

/*.summerxslowfashion {
    display: flex;
    flex-flow: column;
}*/

.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dressmeslowly h1, .products h1 {
    color: #fff;
    margin-bottom: 10px;
    text-align: left;
}

.dressmeslowly, .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin: 50px auto 150px auto;
    justify-content: center;
    align-items: center;

}

.products img {
    margin-left: auto;
}

.dressmeslowly video, .products img {
    width: 80%;
    filter: drop-shadow(5px 5px #fff);
}


.three_icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    ;
    justify-items: center;
    justify-content: center;
    width: 80%;
    margin: 0px auto 100px auto;
}

.three_icons div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.three_icons div p {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    /*letter-spacing: 2px;*/
    width: 80%;
}

.three_icons img {
    width: 200px;
}

/*.bubbles_wrapper {
    position: relative;
    width: 100%;
    height: 400px;
}
.bubbles {
    width: 200px;
    margin-right: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
}
.bubbles img {
    width: 70px;
    opacity: 0;
    animation: bubbleAnim 7s linear infinite;
}
.bubbles img:nth-child(1) {
    width: 30px;
    animation-delay: 2.3s;
}
.bubbles img:nth-child(2) {
    width: 50px;
    animation-delay: 4.6s;
}
@keyframes bubbleAnim {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }
}*/

@media screen and (max-width: 1300px) {
    .sea_front {
        margin: -50px 0 0 0;
    }

    .white_waves {
        margin: -70px 0 0 0;
    }

    .sea_wave {
        margin: -130px 0 0 0;
    }
}

@media screen and (max-width: 1020px) {
    #bg_video {
        width: auto;
        height: auto;
        z-index: -100;
    }
}

@media screen and (max-width: 690px) {
    .intro_wrapper {
        width: 90%;
    }

    .three_icons div {
        margin: 30px;
    }
}
