#preload{
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: preloadFadeOut 1s ease 4s;
}
@keyframes preloadFadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 2px;
    color: #3993FA;
}

.wave1, .wave2, .beach, .palms, .mountains1, .mountains2{
    width: 100%;
    height: 700px;
    background-size: cover;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: -10;
}

.wave1{
    background-image: url(../images/home-sea/home-wave-sea2-01.svg);
}
.wave2{
    background-image: url(../images/home-sea/home-wave-sea1-01.svg);
}
.beach{
    background-image: url(../images/home-sea/home-wave-beach-01.svg);
}
.palms{
    background-image: url(../images/home-sea/home-wave-palms-01.svg);
}
.mountains1{
    background-image: url(../images/home-sea/home-wave-mountains1-01.svg);
}
.mountains2{
    background-image: url(../images/home-sea/home-wave-mountains2-01.svg);
}

.above_sea{
    height: 600px;
}
.under_sea{
    background-color: #A2D6D9;
    height: 500px;
    padding-top: 50px;
}

.bubbles_wrapper {
    position: relative;
    width: 100%;
    height: 400px;
}
.bubbles {
    width: 200px;
    margin-right: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
}
.bubbles img {
    width: 70px;
    opacity: 0;
    animation: bubbleAnim 7s linear infinite;
}
.bubbles img:nth-child(1) {
    width: 30px;
    animation-delay: 2.3s;
}
.bubbles img:nth-child(2) {
    width: 50px;
    animation-delay: 4.6s;
}
@keyframes bubbleAnim {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }
}

/*.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/
