main{
    margin-bottom: 100px;
}

h1{
    text-align: center;
}

article {
    margin: 50px 20%;
}

article h3 {
    color: #707070;
    margin: 15px 0 5px 0;
    font-size: 18px;
}

article p {
    margin-bottom: 20px;
    font-size: 18px;
}

@media screen and (max-width: 690px){

    article {
        margin: 50px 5%;
    }
}

@media screen and (max-width: 380px){

    h1{
        width: 230px;
        font-size: 20px;
        text-align: center;
        margin: auto;
    }

    article h3{
        font-size: 18px;
    }
}
