body {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
}

#navbar {
    z-index: 50000;
    position: absolute;
    width: 100%;
}

.bg_wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    z-index: -5000;
}

.mountain_back,
.mountain_front,
.palms_back,
.palms_front,
.beach,
.sea_back {
    width: 100%;
    height: 700px;
    position: absolute;
    background-size: cover;
    z-index: -10;
}

.mountain_back {
    background-image: url(../images/home-sea/mountain-back-01.svg);
}
.mountain_front {
    background-image: url(../images/home-sea/mountain_front-01.svg);
}
.palms_back {
    background-image: url(../images/home-sea/palms_back-01.svg);
}
.palms_front {
    background-image: url(../images/home-sea/palms_front-01.svg);
}
.beach {
    background-image: url(../images/home-sea/beach2-01.svg);
}
.sea_back {
    background-image: url(../images/home-sea/sea-back-01.svg);
}

/*SCROLL*/

.circle {
    animation: scroll 2s ease-out 5;
}
@keyframes scroll {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    75% {
        transform: translateY(1.5em);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 0;
    }
}

.scroll_down_btn {
    position: fixed;
    top: 50%;
    right: 20%;
    transform: translate(-50%, -20%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 500;
    outline: none;
}

.scroll_down_btn img, svg {
    width: 30px;
    margin: 5px;
}

.arrow_up,
.arrow_down {
    cursor: pointer;
}

.product_wrapper {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.product_wrapper h1 {
    font-size: 18px;
}

.product_img {
    height: 370px;
    transition: .2s ease;
    cursor: pointer;
    filter: drop-shadow(5px 5px #3993fa);
}

.product_img:hover {
    filter: brightness(1.08) drop-shadow(5px 5px #3993fa);
}

@media screen and (max-width: 1025px) {
    .product_img {
        width: 350px;
        height: auto;
    }
}
@media screen and (max-width: 690px) {
    body {
        overflow: hidden;
    }

    #mouse {
        display: none;
    }

    .product_wrapper h1 {
        width: 200px;
        margin: auto;
    }

    .product_img {
        width: 65%;
    }

    .scroll_down_btn {
        right: 2%;
        transform: translate(-50%, -20%);
    }

    .arrow_down {
        animation: moveArrowDown 2s ease-out 3;
    }

    .arrow_up {
        animation: moveArrowUp 2s ease-out 3;
    }

    @keyframes moveArrowDown {
        0% {
            transform: translateY(0);
            opacity: 1;
        }

        25% {
            opacity: 1;
        }

        75% {
            transform: translateY(1.5em);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 0;
        }
    }

    @keyframes moveArrowUp {
        0% {
            transform: translateY(0);
            opacity: 1;
        }

        25% {
            opacity: 1;
        }

        75% {
            transform: translateY(-1.5em);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 0;
        }
    }


}
