body{
    overflow: hidden;
}

.product_wrapper{
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.product_wrapper img{
    width: 200px;
}

.move_image_animation {
    animation: img-animate 0.75s ease alternate;
}
@keyframes img-animate {
    0% {
        transform: scale(1, 1);
    }

    20% {
        transform: scale(0.95, 0.97);
    }

    100% {
        transform: scale(1, 1);
    }
}
