body{
    overflow-x: hidden;
}

article {
    margin: 0px 20% 50px 20%;
}
article p {
    font-size: 18px;
}

article h1 {
    font-size: 37px;
    text-align: center;
}
article h2 {
    color: #707070;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 50px;
}

.single_tip {
    margin: 20px auto 130px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    align-items: center;
}
.single_tip > img{
    width: 100%;
}
.text_right{
    text-align: right;
}

article h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.single_tip p:first-child {
    font-size: 16px;
    color: #707070;
    margin-bottom: 5px;
    font-family: 'Archivo Black', sans-serif;
}

.slow_fashion_text{
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: auto;
}
.slow_fashion_text p{
    margin: 20px;
}
.slow_fashion_text_img{
    width: 70%;
    margin: 20px auto;
    filter: drop-shadow(5px 5px #3993fa);
}

.explainer {
    width: 500px;
    display: block;
    margin: 0 auto 100px auto;
    cursor: pointer;
    filter: drop-shadow(5px 5px #3993fa);
}

@media screen and (max-width: 1020px){

    article {
        margin: 0px 10% 50px 10%;
    }

    .slow_fashion_text{
        width: 100%;
    }

    .single_tip {
        grid-template-columns: 1fr;
    }
    .single_tip > div{
        margin-top: 10px;
    }
    .text_right{
        grid-row: 2;
        text-align: start;
    }
}

@media screen and (max-width: 690px){

    .explainer{
        width: 90%;
    }
}

