body{
    overflow-x: hidden;
}

article {
    margin: 0px 20% 50px 20%;
}
article p {
    font-size: 18px;
}

article h1 {
    font-size: 37px;
    text-align: center;
    margin-top: 50px;
}

article h2 {
    color: #707070;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.tips h1 {
    margin-bottom: 60px;
}

.single_tip {
    margin: 20px auto 130px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    align-items: center;
}
.single_tip > img{
    width: 100%;
}
.text_right{
    text-align: right;
}

article h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.single_tip p:first-child {
    font-size: 16px;
    color: #707070;
    margin-bottom: 5px;
    font-family: 'Archivo Black', sans-serif;
}

.slow_fashion_text{
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: auto;
}
.slow_fashion_text p{
    margin: 20px;
}
.slow_fashion_text_img{
    width: 70%;
    margin: 20px auto;
    filter: drop-shadow(5px 5px #3993fa);
}

.explainer {
    width: 500px;
    display: block;
    margin: 30px auto 80px auto;
    cursor: pointer;
    filter: drop-shadow(5px 5px #3993fa);
}

@media screen and (max-width: 1020px){

    article {
        margin: 0px 3% 50px 3%;
    }

    .slow_fashion_text{
        width: 90%;
    }

    .slow_fashion_text p{
        margin: 20px 0;
    }

    .single_tip {
        grid-template-columns: 1fr;
        width: 90%;
    }
    .single_tip > div{
        margin-top: 10px;
    }

    .single_tip > img{
        margin-bottom: 10px;
    }

    .text_right{
        grid-row: 2;
        text-align: start;
    }

    .slow_fashion_text_img {
        width: 90%;
    }
}

@media screen and (max-width: 690px){

    .explainer{
        width: 90%;
    }
}

@media screen and (max-width: 520px){

    article h1 {
        /*width: 230px;*/
        font-size: 22px;
    }

     article h1 {
        margin: 50px auto 0;
    }

    article h3{
        font-size: 16px;
    }

    article h2 {
        font-size: 18px;
        margin-top: 10px;
    }
}

