article {
    margin: 100px 20%;
}
article p {
    font-size: 18px;
}

article h1 {
    font-size: 37px;
    text-align: center;
    margin-top: 50px;
}
article h2 {
    color: #707070;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 50px;
}

.single_tip {
    margin: 150px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    align-items: center;
}
.single_tip > img{
    width: 100%;
}

article h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.single_tip p:first-child {
    font-size: 16px;
    color: #707070;
    margin-bottom: 5px;
    font-family: 'Archivo Black', sans-serif;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    height: 80px;
    font-size: 18px;
}
#navbar a {
    text-decoration: none;
}
#navbar .main-menu {
    display: none;
}
#tm:checked + .main-menu {
    display: block;
}
#navbar input[type="checkbox"],
#navbar ul span.drop-icon {
    display: none;
}

/*#menu li,
#toggle-menu,
#menu .sub-menu {
    border-style: solid;
  border-color: rgba(0, 0, 0, .05);
}*/

#navbar li,
#toggle-menu {
    border-width: 0 0 1px;
}
#navbar .sub-menu {
    background-color: #fff;
    border-width: 1px 1px 0;
    margin: 0 1em;
}
#navbar .sub-menu li:last-child {
    border-width: 0;
}
#navbar li,
#toggle-menu,
#navbar a {
    position: relative;
    display: block;
    color: #000;
}
#navbar,
#toggle-menu {
    background-color: #fff;
}
#toggle-menu,
#navbar a {
    padding: 1em 1.5em;
}
#navbar a {
    transition: all .125s ease-in-out;
    -webkit-transition: all .125s ease-in-out;
}
#navbar a:hover {
    background-color: #fff;
    color: #3993fa;
}
#navbar .sub-menu {
    display: none;
}
#navbar input[type="checkbox"]:checked + .sub-menu {
    display: block;
}
#navbar .sub-menu a:hover {
    color: #fff;
    background-color: #3993fa;
}
#toggle-menu .drop-icon,
#navbar li label.drop-icon {
    position: absolute;
    right: 1.5em;
    top: 1.25em;
}
#navbar label.drop-icon,
#toggle-menu span.drop-icon {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    text-align: center;
    background-color: #fff;
    border: 1px solid #000;
    /*text-shadow: 0 0 0 transparent;*/
    color: #000;
}
#navbar .drop-icon {
    line-height: 1;
}

@media only screen and (max-width: 64em) and (min-width: 52.01em) {
    #navbar li {
        width: 33.333%;
    }

    #navbar .sub-menu li {
        width: auto;
    }
}

@media only screen and (min-width: 52em) {
    #navbar .main-menu {
        display: block;
    }

    #toggle-menu,
    #navbar label.drop-icon {
        display: none;
    }

    #navbar ul span.drop-icon {
        display: inline-block;
    }

    #navbar li {
        float: left;
        border-width: 0 1px 0 0;
    }

    #navbar .sub-menu li {
        float: none;
    }

    #navbar .sub-menu {
        border-width: 0;
        margin: 0;
        position: absolute;
        top: 100%;
        left: 0;
        width: 12em;
        z-index: 3000;
    }

    #navbar .sub-menu,
    #navbar input[type="checkbox"]:checked + .sub-menu {
        display: none;
    }

    #navbar .sub-menu li {
        border-width: 0 0 1px;
    }

    #navbar .sub-menu .sub-menu {
        top: 0;
        left: 100%;
    }

    #navbar li:hover > input[type="checkbox"] + .sub-menu {
        display: block;
    }
}
