@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

html {
    scroll-behavior: smooth;
    /*background-color: #f5f5f5;*/
    font-family: 'Century Gothic', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: 4px;
    font-size: 23px;
    color: #3993fa;
    text-transform: uppercase;
}

/*article h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

article h4 {
    font-size: 16px;
    color: #707070;
    margin-bottom: 5px;
}

article {
    margin: 100px 20%;
}

article p {
    font-size: 18px;
}

article h1 {
    font-size: 37px;
    text-align: center;
    margin-top: 50px;
}

article h2 {
    color: #707070;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 50px;
}

section {
    margin-top: 20px;
}

section a {
    color: #3993fa;
}*/

a {
    color: #3993fa;
}

footer a {
    color: #ffffff;
}

p {
    font-size: 15px;
    word-spacing: 0px;
    color: #3993fa;
}

/*WAVE HOVER EFFECT*/

.green_wave,
.wave,
section a {
    /*background: linear-gradient(to bottom, #fff 0%, #fff 100%);*/
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
}

.wave:hover,
section a:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .7s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%233993fa' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
}

.green_wave:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .7s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%239cffcf' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
}


.main_sticky {
    margin-top: 80px;
}

.ignoremouse {
    pointer-events: none;
}

#topBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 40px;
    height: 40px;
    z-index: 10000;

    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    margin: 30px 0px;
    transform: rotate(-90deg);
    display: none;
    transition: .5s;
}

/*.ig {
    margin-left: 20px;
    background-image: url("../icons/instagram-03.svg");
    background-size: contain;
    height: 4vh;
    background-repeat: no-repeat;
    z-index: 10;
}*/

.instagram img {
    width: 30px;
}

footer {
    background-color: #3993fa;
    border-top: 1px white solid;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
}

footer h3 {
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
}

.disclaimer p {
    color: #fff;
}

.btn {
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-size: 11px;
    margin-top: 20px;
    padding: 15px 25px;
    width: 220px;
    /*border-radius: 50px;*/
    transition: all 0.5s;
    cursor: pointer;
    outline: none;
    border: 1px solid #3993FA;
    color: #3993FA;
    font-weight: 400;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}

#navbar {
    z-index: 100;
}

#navbar_mobile {
    display: none;
}

.menu_items_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    height: 80px;
    background-color: #ffffff;
}

.logo_link {
    text-align: center;
    width: 150px;
}

.logo {
    background-image: url(../icons/logo-01.svg);
    width: 75px;
    height: 75px;
    padding: 5px;
    margin: auto;
    transition: .3s ease;
}

.icon_in {
    animation: movein .2s linear;
}

.icon_out {
    animation: moveout .2s linear;
}

@keyframes movein {
    from {
        background-position: 140px 0;
    }

    to {
        background-position: 70px 0;
    }
}

@keyframes moveout {
    from {
        background-position: 70px 0;
    }

    to {
        background-position: 140px 0;
    }
}

.menu_item {
    padding: 30px 1.5%;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    transition: .3s ease;
}

.menu_item:hover,
.menu_selected {
    color: #3993fa;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    z-index: 10;
    transition: top 0.3s;
}

@media screen and (max-width: 1025px) {

    /*Navigation bar*/
    #navbar_mobile {
        display: block;
        position: relative;
    }

    #navbar {
        display: none;
    }

    .menu_items_wrapper_mobile {
        display: flex;
        align-items: center;
        z-index: 10;
        background-color: #ffffff;
    }

    .logo_mobile {
        width: 120px;
        padding: 5px 20px;
    }

    .menu_items_wrapper_mobile > input {
        display: none;
    }

    .open {
        background-color: #000000;
        width: 40px;
        height: 4px;
        display: block;
        /*border-radius: 2px;*/
        cursor: pointer;
        position: relative;
        z-index: 100;
    }

    .open:before {
        content: "";
        background-color: #000000;
        width: 40px;
        height: 4px;
        display: block;
        /*border-radius: 2px;*/
        position: relative;
        top: -8px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }

    .open:after {
        content: "";
        background-color: #000000;
        width: 40px;
        height: 4px;
        display: block;
        /*border-radius: 2px;*/
        position: relative;
        top: 4px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }

    .menu_open {
        width: 70px;
        height: 20px;
        display: block;
        padding-right: 30px;
        padding-top: 8px;
        cursor: pointer;
        margin-left: auto;
    }

    .menu {
        z-index: 99;
        width: 250px;
        height: auto;
        background-color: #ffffff;
        position: absolute;
        right: 0;
        top: 100%;
    }

    .menu .menu_content {
        /*font-size: 20px;*/
        text-align: center;
        padding: 10px 0;
    }

    .menu ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
    }

    .menu ul li a {
        display: block;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        padding: 10px 0;
    }

    .menu_item_mobile {
        color: #000000;
    }

    .menu_selected {
        color: #ffffff;
        background-color: #3993fa;
    }

    .menu ul li a:hover {
        color: #ffffff;
        background: #3993fa;
    }

    .menu_effects {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0.5s;
    }

    .menu_effects ul {
        transform: translateY(0%);
        transition: all 0.5s;
    }

    /* Show hidden content when the checkbox is checked */
    #menu_toggle:checked ~ .menu_effects {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s;
    }

    /* Show hidden content when the checkbox is checked */
    #menu_toggle:checked ~ .menu_effects ul {
        opacity: 1;
    }

    /* Menu button styled (hides straight line in button) when the checkbox is checked */
    #menu_toggle:checked ~ .menu_open .open {
        background-color: transparent;
    }

    /* Menu button styled (creates X) when the checkbox is checked */
    #menu_toggle:checked ~ .menu_open .open:before {
        content: "";
        background-color: #000000;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    /* Menu button styled (creates X) when the checkbox is checked */
    #menu_toggle:checked ~ .menu_open .open:after {
        content: "";
        background-color: #000000;
        transform: rotate(-45deg);
        position: relative;
        top: 0;
        right: 0;
        z-index: 1;
    }

    /* Moving effect on menu items when the checkbox is unchecked */
    #menu_toggle:not(:checked) ~ .menu_effects ul {
        transform: translateY(-30%);
    }
}
